*{
    margin: 0;
    font-family: "Open Sans";
}

header {
    background-image:url(../../../Downloads/23910.jpg) ;
    color: white;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    margin: 16px;
    height: 30px;
    font-size: 18px;
    margin-right: 21px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 32px;
}

.imghead {
    width: 160px;
}

.divheader {
    display: flex;
    justify-content: space-between;
    padding: 34px;
    padding-bottom: 77px;

}

h1 {
    font-size: 50px;
}

section {
    margin: auto;
    text-align: center;
    width: 755px;

}

.hero {
    min-height: 1100px;
    background-color: white;
    width: auto;

}

.titreprestation {
    font-size: 33px;
    position: relative;
    top: 58px;
    color: #A16C33;
}

.imgpremierbloc {
    width: 345px;
}

.imgdeuxiemebloc {
    width: 445px;
}

.premierbloc {
    text-align: justify;
    display: flex;
    position: relative;
    top: 150px;
    align-items: center;
    justify-content: space-evenly;
}

.pgpremierbloc {
    margin: 0;
}

.titrepremierbloc {
    margin-bottom: 20px;
}

.deuxiemebloc {
    text-align: justify;
    text-align: center;
}

.alignementun {
    position: relative;
    top: 221px;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    width: auto;
}

.troisiemebloc {
    text-align: justify;
    text-align: center;
}

.titretroisiemebloc {
    margin-bottom: 20px;
}

.pgtroisiemebloc {
    margin-bottom: 20px;
}

.projets {
    color: #A16C33;
    font-size: 33px;
    position: relative;
    top: 58px;
}

.section-deux {
    background-color: black;
    min-height: 2475px;
    width: auto;
}

.text-section-deux {
    color: white;
}

.image-un-section-deux {
    width: 700px;
}

.bloc-un-section-deux {
    position: relative;
    top: 119px;
}

.haussman {
    margin-bottom: 20px;
}

.paragraphe-un {
    margin-bottom: 30px;

}

.bloc-deux-section-deux {
    position: relative;
    top: 187px;
    display: flex;
    align-items: center;
}

.image-deux-section-deux {
    width: 300px;
}

.text-deux-section-deux {
    color: white;
    text-align: left;
    
} 

.bloc-deux-section-deux {
    justify-content: space-evenly;
}

.bloc-trois-section-deux {
    position: relative;
    top: 268px;

}

.bloc-quatre-section-deux {
    position: relative;
    top: 360px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.image-un-section-trois {
    width: 535px;
}

.text-section-trois {
    text-align: left;
}

.studio {
    margin-bottom: 20px;
}

.section-trois {
    background-color: white;
    min-height: 600px;
    width: auto;
}

.témoignages {
    color: #A16C33;
    position: relative;
    top: 50px;
}

.carrés {
    justify-content: space-evenly;
    display: flex;
    position: relative;
    top: 145px;
    background-color:#D9D9D9 ;
    height: 266px;
}

.carrés-blocs{
    background-color: white;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px;
    position: relative;
    top: 23px;
    padding: 10px;
}

h4 {
    margin-bottom: 3px;
}

.espace {
    position: relative;
    top: 11px;
}

.nom {
    position: relative;
    top: 15px;
   text-align: right;
   font-size: 25px;
}

nav {
    background-color: black;
    border-radius: 3px;
}

nav a {
    position: relative;
    top: 3px;
}

