*{
    margin: 0;
}

header {
    background-image:url(../../../Downloads/23910.jpg) ;
    color: white;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    margin: 16px;
    height: 30px;
    font-size: 18px;
    margin-right: 21px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 32px;
}

.imghead {
    width: 160px;
}

.divheader {
    display: flex;
    justify-content: space-between;
    padding: 34px;
    padding-bottom: 77px;

}

h1 {
    font-size: 50px;
}

section {
    margin: auto;
    text-align: center;
    width: 755px;

}

.hero {
    min-height: 900px;
    background-color: white;

}

.titreprestation {
    font-size: 33px;
    position: relative;
    top: 58px;
    color: #A16C33;
}

.imgpremierbloc {
    width: 265px;
}

.imgdeuxiemebloc {
    width: 334px;
}

.premierbloc {
    text-align: justify;
    display: flex;
    position: relative;
    top: 150px;
    align-items: center;
    justify-content: space-around;
}

.pgpremierbloc {
    margin: 0;
}

.titrepremierbloc {
    margin-bottom: 20px;
}

.deuxiemebloc {
    text-align: justify;
    text-align: center;
}

.alignementun {
    position: relative;
    top: 221px;
    display: flex;
    justify-content: space-around;
}

.troisiemebloc {
    text-align: justify;
    text-align: center;
}

.titretroisiemebloc {
    margin-bottom: 20px;
}

.pgtroisiemebloc {
    margin-bottom: 20px;
}

.projets {
    color: #A16C33;
    font-size: 33px;
    position: relative;
    top: 58px;
}

.section-deux {
    background-color: black;
    min-height: 3000px;
    width: auto;
}

.text-section-deux {
    color: white;
}

.image-un-section-deux {
    width: 700px;
}

.bloc-un-section-deux {
    position: relative;
    top: 119px;
}

.haussman {
    margin-bottom: 20px;
}

.paragraphe-un {
    margin-bottom: 30px;
    
}